<div class="ui secondary pointing menu">
  <p class="item">
    Recipe Book
  </p>
  <a class="item">
    Recipes
  </a>
  <a class="item">
    Shopping List
  </a>
  <div class="right menu">
    <div class="ui selection dropdown">
      <input type="hidden" name="manage">
      <i class="dropdown icon"></i>
      <div class="default text">Manage</div>
      <div class="menu">
        <div class="item" data-value="save" data-text="save">
          <i class="icon"></i>
          Save
        </div>
        <div class="item" data-value="fetch" data-text="fetch">
          <i class="icon"></i>
          Fetch
        </div>
      </div>
    </div>
  </div>
</div>
