<div class="ui stackable grid">
  <div class="sixteen wide column">
    <img class="ui fluid image" src="" alt="">
  </div>
  <div class="sixteen wide column">
    <h1>Recipe Name</h1>
  </div>
  <div class="sixteen wide column">
    <div class="ui selection dropdown">
      <input type="hidden" name="gender">
      <i class="dropdown icon"></i>
      <div class="default text">Manage</div>
      <div class="menu">
        <div class="item" data-value="addToList" data-text="addToList">
          <i class="icon"></i>
          To Shopping List
        </div>
        <div class="item" data-value="edit" data-text="edit">
          <i class="icon"></i>
          Edit Recipe
        </div>
        <div class="item" data-value="delete" data-text="delete">
          <i class="icon"></i>
          Delete Recipe
        </div>
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    Description
  </div>
  <div class="sixteen wide column">
    Ingredients
  </div>
</div>
